<div class="backdrop">
  <div class="modal">
    <div class="top_bar">
      <p>Load a character from template</p>
      <button class="btn cancel icon" ng-click="close()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="content">
      <!-- [Left side of the modal] -->
      <div class="section"></div>
      <!-- [Separation bar] -->
      <div class="separation"></div>
      <!-- [Right side of the modal] -->
      <div class="section"></div>
    </div>
  </div>
</div>
